[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = 82669317+LeoGuillon@users.noreply.github.com
	name = LeoGuillon
